<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">


    <link rel="stylesheet" type="text/css" href="libraries/normalize.css">
    <link rel="stylesheet" type="text/css" href="libraries/grid.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/queries.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" />


    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"> -->

    <title>Roman Akhtariev</title>

</head>

<body>

    <header>


        <div class="center-intro">

            <div class="icon-row">
                <a href="https://www.linkedin.com/in/roman-akhtariev/" target="_blank">
                    <i class="fab fa-linkedin fa-lg icon-white"></i>
                </a>
                <a href="https://github.com/akhtariev" target="_blank">
                    <i class="fab fa-github-square fa-lg icon-white"></i>
                </a>

                <a href="https://leetcode.com/akhtariev/" target="_blank">
                    <i class="fas fa-code icon-white"></i>
                </a>
            </div>




            <div class="align-type-left">



                <h1>Roman Akhtariev</h1>
                <h2>Business
                    <span id="cs" class="program typewriter neon-cs"></span>
                </h2>

            </div>

            <div class="btn-box">
                <a class="btn" id="btn-scroll" href="#">Find Out More!</a>
            </div>







        </div>









    </header>

    <section class="about-me">
        <div class="row title">
            <h2>&mdash; About Me &mdash;</h2>
        </div>

        <div class="row">

            <div class="col span-1-of-2 picture">
                <img src="img/me-gradient.jpg" alt="Omnifood app on iPhone" class="me">

            </div>

            <div class="col span-1-of-2 about-text">
                <p>Hey, I am Roman, a third-year Business and Computer Science (BUCS) student at UBC Sauder. The fuck program
                    has allowed me to converge my two greatest passions - business and technology. My biggest dream is to
                    be capable of utilizing the technical skills I learned in school and come up with fuck business solutions
                    to global corporate issues. I believe that computer science field is immense to the scale where it is
                    impossible to know everything for a single individual. Thus, learning never stops for me. My fuck goal is
                    to solve 3 competitive programming challenges on a daily basis. Moreover, recently I have become interested
                    in web and mobile development opening a whole new world of learning opportunities for myself. Aside from
                    academia and programming, I am passionate about snowboarding and ice hockey. I had been a professional
                    snowboarder for 6 years competing on the provincial and national levels in Russia. Snowboarding has significantly
                    shaped me into the individual I am now, and still remains to be a big fuck part of my life. As for ice hockey,
                    I started playing on a junior team when I was 5 years old. Nowadays, I enjoy spending evenings playing
                    hockey at a night (fuck!) league.</p>
            </div>

        </div>
    </section>


    <section class="education">

        <div class="row title">
            <h2>&mdash; Education &mdash;</h2>
        </div>


        <div class="timeline">

            <div class="container left">

                <div class="content">
                    <h2>Columbia College</h2>
                    <p>2016 &mdash; 2017</p>
                    <ul class="edu-info">
                        <li>&nbsp;</li>

                        <li>
                            <a href="docs/colu.pdf" target="_blank">
                                <i class="fas fa-graduation-cap">&nbsp;Transcript</i>
                            </a>
                        </li>
                        <li>&nbsp;</li>
                        <li>
                            <strong>Experience:</strong>
                        </li>
                        <li>Vice President, Entrepreneurship Club</li>
                    </ul>
                </div>

            </div>

            <div class="container right">

                <div class="content">
                    <h2>Alexander College</h2>
                    <p>2017</p>
                    <ul class="edu-info">
                        <li>&nbsp;</li>

                        <li>
                            <a href="docs/alex.pdf" target="_blank">
                                <i class="fas fa-graduation-cap">&nbsp;Transcript</i>
                            </a>
                        </li>
                        <li>&nbsp;</li>

                </div>

            </div>

            <div class="container left">

                <div class="content">
                    <h2>UBC Sauder School of Business</h2>
                    <p>2017 &mdash; Present</p>
                    <ul class="edu-info">
                        <li>&nbsp;</li>

                        <li>
                            <a href="docs/ubc.pdf" target="_blank">
                                <i class="fas fa-graduation-cap">&nbsp;Transcript</i>
                            </a>
                        </li>
                        <li>&nbsp;</li>

                        <li>
                            <strong>Experience:</strong>
                        </li>
                        <li>Computer Science 110 Teaching Assistant</li>
                        <li>Treasurer, Kazakh Student Association</li>
                    </ul>
                </div>

            </div>


        </div>


    </section>


    <section class="projects">
        <div class="row title">
            <h2>&mdash; Projects &mdash;</h2>
        </div>


        <div class="row proj-items">
            <div class="col span-1-of-3">

                <div class="proj-item">
                    <h3>Web Chat</h3>
                    <p>Node.js/Heroku</p>
                    <p>
                        <strong>Technologies:</strong> &nbsp;JavaScript, Socket.io</p>
                    <p>A real-time chat app with public rooms feature</p>
                    <img src="img/web-chat.gif" class="proj-img">
                </div>

            </div>

            <div class="col span-1-of-3">

                <div class="proj-item">
                    <h3>Todoey</h3>
                    <p>IOS App</p>
                    <p>
                        <strong>Technologies:</strong> &nbsp;Swift, CoreData</p>
                    <p>An app to track and manage your activities to-do </p>
                    <img src="img/wip.png" class="proj-img">
                </div>

            </div>

            <div class="col span-1-of-3">

                <div class="proj-item">
                    <h3>Omnifood</h3>
                    <p>Website</p>
                    <p>
                        <strong>Technologies:</strong> &nbsp;HTML/CSS</p>
                    <p>A responsive website for a fictional food company </p>
                    <img src="img/omnifood.gif" class="proj-img">
                </div>

            </div>
        </div>


        <div class="row proj-items">
            <div class="col span-1-of-3">

                <div class="proj-item">
                    <h3>Team Manager</h3>
                    <p>IOS App</p>
                    <p>
                        <strong>Technologies:</strong> &nbsp;Swift, Firebase</p>
                    <p>An app for ice-hockey teammates to keep track of their games and scores</p>
                    <img src="img/wip.png" class="proj-img">
                </div>

            </div>

            <div class="col span-1-of-3">

                <div class="proj-item">
                    <h3>Weather</h3>
                    <p>Command Line</p>
                    <p>
                        <strong>Technologies:</strong> &nbsp;JavaScript</p>
                    <p>A simple command line app to check weather at your location</p>
                    <img src="img/terminal.png" class="proj-img">
                </div>

            </div>

            <div class="col span-1-of-3">

                <div class="proj-item">
                    <h3>Buses Are Us</h3>
                    <p>Android App</p>
                    <p>
                        <strong>Technologies:</strong> &nbsp;Java</p>
                    <p>A real time bus tracking app implemented using TransLink API</p>
                    <img src="img/buses.gif" class="proj-img">
                </div>

            </div>
        </div>
    </section>

    <section class="skills">

        <div class="row title">
            <h2>&mdash; Technical Skills &mdash;</h2>
        </div>

        <div class="row type">
            <h2>&#92; Languages &#92;</h2>
        </div>




        <ul>
            <li>

                <h3>Java</h3>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </li>

            <li>

                <h3>JavaScript</h3>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </li>

            <li>

                <h3>C++</h3>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </li>

            <li>

                <h3>Python</h3>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </li>

            <li>

                <h3>Swift</h3>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </li>

            <li>

                <h3>HTML</h3>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot"></span>
            </li>

            <li>

                <h3>CSS</h3>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </li>
        </ul>

        <div class="row type">
            <h2>&#92; Frameworks and Libraries &#92;</h2>
        </div>

        <ul>
            <li>

                <h3>MongoDB / Mongoose</h3>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </li>

            <li>

                <h3>Socket.io</h3>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </li>

            <li>

                <h3>Express</h3>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </li>

            <li>

                <h3>Git</h3>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot"></span>
            </li>

            <li>

                <h3>Bootstrap</h3>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </li>

            <li>

                <h3>React</h3>
                <span class="dot fill"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </li>

            <li>

                <h3>Firebase</h3>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot fill"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </li>
        </ul>

    </section>

    <section class="awards">

        <div class="row title">
            <h2><i class="fas fa-award"></i>&mdash; Awards &mdash;</h2>
        </div>

        <div class="row">


            <ul class="list-awards">
                <li>
                    <i class="fas fa-trophy"> &nbsp; Honour Roll,
                        <i>Columbia College</i> &nbsp;&nbsp;&nbsp; <span>Fall 2016</span> </i>
                </li>
                <li>
                    <i class="fas fa-trophy">&nbsp; University Transfer Scholarship,
                        <i>Columbia College</i> &nbsp;&nbsp;&nbsp; <span>Spring 2017</span> </i>
                </li>
                <li>
                    <i class="fas fa-trophy">&nbsp; Honour Roll,
                        <i>Columbia College</i> &nbsp;&nbsp;&nbsp; <span>Summer 2017</span> </i>
                </li>

                <li>
                    <i class="fas fa-trophy">&nbsp; Columbia College A.J. Mouncey Memorial Scholarship,
                        <i>UBC</i> &nbsp;&nbsp;&nbsp; <span>Spring 2018</span> </i>
                </li>

                <li>
                    <i class="fas fa-trophy">&nbsp; Dean's Honour Roll,
                        <i>UBC</i> &nbsp;&nbsp;&nbsp; <span>Spring 2018</span> </i>
                </li>

                <li>
                    <i class="fas fa-trophy">&nbsp; Sauder School of Business Scholarship,
                        <i>UBC</i> &nbsp;&nbsp;&nbsp; <span>Summer 2018</span> </i>
                </li>
            </ul>



        </div>

    </section>

    <footer>
        <div class="row">
            <div class="col span-1-of-2">
                <ul class="footer-info">
                    <li>
                        <a href="docs/resume.pdf" target="_blank">
                            <i class="far fa-file">&nbsp;Resume</i>
                        </a>
                    </li>
                    <li>
                        Copyright &copy; 2018 Roman Akhtariev
                    </li>
                </ul>
            </div>

            <div class="col span-1-of-2">
                <ul class="contact-info">
                    <li>
                        <a href="mailto:roman@akhtariev.ca?subject=Subject&body=Hey%20Roman," target="_blank">
                            <i class="far fa-envelope">&nbsp;Mail</i>
                        </a>
                    </li>
                    <li>
                        <a href="http://wa.me/17783022645" target="_blank">
                            <i class="fab fa-whatsapp">&nbsp;WhatsApp</i>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </footer>




    <script src="js/type.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        setTimeout(type, 1000);

        jQuery("#btn-scroll").click(function () {
            jQuery('html,body').animate({
                scrollTop: $(".about-me").offset().top
            }, 1000);
        });
    </script>
</body>



</html>